.container {
  margin-left: 10px;
}

.bingo-board {
  border: 3px solid #333;
  width: 600px;
  height: 600px;
}

.bingo-box {
  border: 1px solid #999;
  text-align: center;
  width: 148px;
  height: 148px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  text-transform: capitalize;
}

.btn {
  margin-top: 15px;
  width: 150px;
  padding: 15px;
  border-radius: 3px;
  background-color: #aaa;
}

p {
  padding: 10px;
}

.on {
  background-color: #ff9999;
}