body, html {
  overflow-x: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0)
}
body {
  font-family: 'Open Sans', sans-serif;
  /*font-size: 18pt;*/
  /*color: #333 !important;*/
  letter-spacing: 1.5px;
}
.pull-right {
  float: right;
}
h1 {
  font-family: 'BrandonBold', serif !important;
}
#contact-box .fa {
  font-size: 18pt;
}
.box {
  width: 50%;
  height: 50%;
  position: absolute;
}

#about-box {
  top: 0;
  right: 0;
}

#projects-box {
  bottom: 0;
  left: 0;
}

.effect-hera figcaption::before {
  content: "Projects";
}

#contact-box {
  bottom: 0;
  right: 0;
}

#resume-box {
  top: 0;
  left: 0;
}
/*#resume-box span {
  font-size: 6pt;
  margin-top: 25px;
}*/

/*.profile-pic {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #333;
  margin: 15px !important;
}
.project-pic {
  width: 300px;
  height: 250px;
  background: #fff;
}