/*body, html {overflow-x: hidden; overflow-y: auto;}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0)
}
#c {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body {
  background: url('../images/neverendingcommute.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18pt;
  color: #FFFFCC !important;
  letter-spacing: 1px;
  z-index: 1;
}
.clickable:hover {
  cursor: pointer;
  color: #CCCCFF !important;
  text-shadow: 5px 5px 5px #333;
  transition: .2s;
}
h1 {
  font-family: 'BrandonBold', serif !important;
}
i {
  color: #FFFFCC;
  padding: 5px;
}
a {
  text-decoration: none !important;
  color: #FFFFCC !important;
}
.navbar a{
  text-transform: uppercase;
  letter-spacing: 1.5px !important;
  color: #FFFFCC;
  font-family: 'BrandonBold', serif !important;
  font-size: 32pt;
}
.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.row {
  margin: 25px !important;
}
#resume-icon {
  color: #FFFFCC;
  margin-right: 5px;
}
#about, #projects, #contacts {
  margin-top: 2.5em !important;
  font-size: 4.5em;
}
.profile-pic {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #333;
  margin: 15px !important;
}
.info-text {
  line-height: 25px;
  font-size: 18px;
}
.info-link {
  color: #CCCCFF;
  font-weight: bold;
  text-shadow: 5px 5px 5px #333;
}
.project-pic {
  width: 300px;
  height: 250px;
  background: #fff;
}
.project-pic:hover {
  box-shadow: 0px 0px 35px #CCCCFF;
  cursor: hand;
  transition: .2s;
}
.project {
  margin: 2.5em !important;
}
#email-icon, #phone-icon {
  font-size: 28pt;
}
.sites-bar {
  display: inline-block;
  font-size: 50px;
  margin-bottom: 125px;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#v {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}
#c {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}*/