body {
  background-image: url('images/skulls.png');
  background-attachment: fixed;
  font-family: 'Ek Mukta', sans-serif;
  color: #333;
  z-index: -1;
}
a {text-decoration: none; color: #fffff0;}
a:hover {color: #39aecf; transition: .8s all;}
li:hover {color: #39aecf; transition: .8s all;}
h1:hover {color: #39aecf; transition: .8s all;}
h3 {margin-top: -15px;}
i {color: #333; width: 25px;}
li {
  display: inline;
  line-height: 50px;
  margin-left: 10px;
  font-size: 18px;
  color: #fffff0;
  letter-spacing: 1.5px;
}

/* nav bar */
#header-name {
  margin: 0;
  padding-left: 35px;
  line-height: 50px;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.fixed_header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: #333;
  z-index: 2;
}
.header_content {
  width: 980px;
  margin: 0 auto;
}
.logo {
  float: left;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: left center;
}
.nav {
  margin: 0;
  float: right;
}

/* about me */
#about {
  text-align: center;
  margin-top: 155px;
  margin-bottom: -135px;
  font-size: 55px;
}
.photo {
  margin-left: 350px;
  margin-top: 200px;
}
.profile-pic {
  max-width: 250px;
  border-radius: 5%;
  border: 4px solid #333;
}
.info {
  max-height: 755px;
  max-width: 450px;
  display: inline-block;
  margin-top: -260px;
  margin-left: 675px;
}
.info-text {
  font-size: 17px;
  letter-spacing: 0.5px;
}
.info-link {
  color: #39aecf;
}

/*slider*/
#projects {
  text-align: center;
  margin-top: 155px;
  margin-bottom: -135px;
  font-size: 55px;
}
.slider-wrap {
  width: 920px;
  height: 575px;
  margin: 150px auto;
}
.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  border-radius: 1%;
  box-shadow: 0px 0px 2px #333;
}
.holder {
  width: 300%;
}
.slide {
  float: left;
  width: 920px;
  height: 575px;
  position: relative;
  background-position: -100px 0;
}
.temp {
  position: absolute;
  font-size: 70px;
  margin-top: 375px;
  left: 15px;
  font-weight: 100;
}
.temp2 {
  position: absolute;
  font-size: 30px;
  left: 20px;
  margin-top: 475px;
  color: #fffff0;
}
.temp3 {
  position: absolute;
  font-size: 30px;
  left: 20px;
  margin-top: 525px;
  color: #fffff0;
}
#slide-0 {
  background-image: url('images/nyfi.png');
}
#slide-1 {
  background-image: url('images/emochat.png');
}
#slide-2 {
  background-image: url('images/groupprov.png');
}
.slide:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(transparent, black);
}

/*contact & sites*/
#email {color: #333;}
#email:hover {color: #39aecf; transition: .8s all;}
#contacts {
  text-align: center;
  margin-top: 155px;
  margin-bottom: -135px;
  font-size: 55px;
}
#contact-wrap {
  margin-top: 200px;
  text-align: center;
}
.sites-bar {
  text-align: center;
  margin-top: 35px;
}
.sites {
  max-width: 65px;
  max-height: 65px;
  display: inline-block;
  border-radius: 25%;
}

