body, html {overflow-x: hidden; overflow-y: auto;}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0)
}
body {
  /*Background Image Artwork by Jamie Beck & Kevin Burg @ Cinemagraphs.com */
  background: url(images/neverendingcommute.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18pt;
  color: #fff !important;
  text-shadow: 0px 0px 10px #01B6AD !important;
  z-index: 1;
}
.clickable:hover {
  cursor: pointer;
  color: #01B6AD !important;
  transition: .3s all !important;
  text-shadow: 0px 0px 10px #fff !important;
}
h1 {font-family: 'BrandonBold', serif !important;}
i {color: #fff; padding: 5px;}
a {
  text-decoration: none !important;
  color: #fff !important;
}

.navbar a{
  text-transform: uppercase;
  letter-spacing: 1.5px !important;
  color: #fff;
  font-family: 'BrandonBold', serif !important;
  font-size: 32pt;
}
.menu-icon {
  font-size: 16pt !important;
}
#resume-icon {color: #fff; margin-right: 5px;}

#about, #projects, #contacts {
  margin-top: 2.5em !important;
  font-size: 4.5em;
}

.profile-pic {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #333;
  margin: 15px !important;
}
.info-text {
  line-height: 25px;
  font-weight: bold;
  font-size: 18px;
}
.info-link {
  color: #01B6AD;
  font-weight: bold;
  text-shadow: 0px 0px 10px #01B6AD;;
}

.project-pic {
  max-width: 175px;
  max-height: 175px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #333;
  background: #ffffff;
}
.project-pic:hover {
  box-shadow: 0px 0px 35px #01B6AD;
  cursor: hand;
  transition: .3s;
}
.project {
  margin: 10px !important;
}
.project-info {
  letter-spacing: 1px;
}

/*contact & sites*/
#email-icon, #phone-icon {font-size: 30px;}

.sites-bar {
  display: inline-block;
  font-size: 50px;
  margin-bottom: 125px;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
